
body{
	
	background-color:black;

	color:white;
	font-family:"Times New Roman", Times, serif;
	margin: 0;
	
}
h1, h2, h3{
		text-align:center;
		font-family:arial;
		
}
.centered{

	text-align:center;
}

#links{
vertical-align: top;
display: inline-table;
height:100%;	
}
header{
		padding: 0 60px;
		overflow:hidden;
		height:auto;
		font-family:d-din, dinWeb;
}

#main{
	display:flex;
	padding: 0 60px;
}
header a{
	position:relative;
	text-decoration:none;
	font-size:20px;
	color:white;


	display: table-cell;

vertical-align: middle;
	text-align: center;

	font-family:DIN_Medium,d-din, d_din, DINweb;

}
footer{
	padding: 0 60px;
}
header a:hover{
		background-color:green;
}

#right{
		flex:36%;
		margin-top:180px;
		overflow: hidden;
		border: 12px solid rgba(0,0,0,0);
	
	
}

#left{
			flex:64%;


		overflow: hidden;
	
}
.seat{
		font-size:52px;
		color:yellow;
		text-decoration:none;
		floats:center;
		background-color:black;
}
.seat:hover{
		background-color:green;
}
section{	
	width:100%;
	background-color:black;
	color:white;
	font-family:arial;
	margin-top:80px;
	
}

ol{
		color:white;
		margin-left:16px;
	
}
ol:li{
		font-size:24px;eff8ff
}


