
body{
	margin-left:60px;
	background-color:#011b44;
	margin-right:60px;
	color:white;
	
	
}
h1, h2, h3{
		text-align:center;
		font-family:arial;
	
	
}
.centered{

	text-align:center;
}

#links{
vertical-align: top;
display: inline-table;
height:100%;	
}
header{
		background-color:black;
		overflow:hidden;
		height:52px;
}

header a{
	position:relative;
	text-decoration:none;
	font-size:28px;
	color:white;

	display: table-cell;

vertical-align: middle;

padding-left: 22px;
}
header a:hover{
		background-color:green;
}

#right{
		width:36%;
		margin-top:180px;
		display: table-cell;
		overflow: hidden;
		border: 12px solid rgba(0,0,0,0);
	
	
}

#left{
			width:64%;


		display: table-cell;
		overflow: hidden;
	
}
.seat{
		font-size:52px;
		color:yellow;
		text-decoration:none;
		floats:center;
		background-color:black;
}
.seat:hover{
		background-color:green;
}
section{	
	width:100%;
	background-color:black;
	color:white;
	font-family:arial;
	margin-top:80px;
	
}

ol{
		color:white;
		margin-left:16px;
	
}
ol:li{
		font-size:24px;eff8ff
}


