
body{
	margin-left:60px;
	background-color:black;
	margin-right:60px;
	color:white;
	font-family:"Times New Roman", Times, serif;
	
	
}
h1, h2, h3{
		text-align:center;
		font-family:arial;
		
}

header{
		
		overflow:hidden;
		height:auto;
		font-family:d-din, dinWeb;
}

header a{
	position:relative;
	text-decoration:none;
	font-size:20px;
	color:white;
	
	float:center;
	margin:8px;
	font-family:DIN_Medium,d-din, d_din, DINweb;
	
}
header a:hover{
		background-color:green;
}

aside{
		float:right;
		width:36%;
		background-color:black;
		margin-top:180px;
	
	
	
}

.seat{
		font-size:52px;
		color:yellow;
		text-decoration:none;
		floats:center;
		background-color:black;
}
.seat:hover{
		background-color:green;
}
section{
	float:left;
	width:60%;
	background-color:black;
	color:white;
	font-family:arial;
	margin-top:80px;
	
}

ol{
		color:white;
		margin-left:16px;
	
}
ol:li{
		font-size:24px;eff8ff
}


